<p>First, we'll need to gather data from your Google calendar to assess your availability over the next week.</p>

<p>The next screen will ask for your permission to view Google calendar.</p>

<%= link_to "Get started", "/auth/google_oauth2" %>