<h2>What would you like to do this week?</h2>

List up to 10 tasks you want to complete this week, and check approximately how long they will take you.

<div id="task-list-unordered">
<table>
  <tr><th></th><th>Task description</th><th>Time</th>
  <% (1..10).each do |i| %>
    <tr>
    <td><%= "#{i}." %></td>
    <td><%= text_field_tag "item#{i}" %></td>
    <td><%= select_tag "colors", "<option>30mins</option><option>60mins</option><option>90mins</option><option>120mins</option>".html_safe %></td>
    </tr>
  <% end %>
</table>
</div>

<button>I'm Done!</button>