<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "style" %>
  <title>Pencil In</title>
</head>
<body>

<h1 id="header"><%= link_to "Pencil In", root_path, method: :get %></h1>
<span id="tagline">You can do it!</span>

<%= yield %>

</body>
</html>